:root{
  --main-color: #665D3C;
  --pastel-green: #768F73;
  --pastel-green-light: #BCC9BB;
  --background-color: #F7F7F2;
  --sand: #CEB484;
  --highlight: #72082D;
  
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--main-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}
a:hover{
  color: var(--highlight);
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, p {
  text-align: center;
}

h1{
  font-size: 5vw;
  line-height: 1.1;
  font-family: "Dancing Script";
  margin-bottom: .2em;
}

h2 {
  margin: 1em 0 2em;
}

p.sub-header{
  font-size: 2vw;
}

p.text {
  text-align: center;
  margin: 2em 0;
}

strong.special {
  display: block;
  padding: .6em 0;
  font-size: 1.8em;
  font-family: "Dancing Script";
}

img.map {
  max-width: 1200px;
  margin: 2em 0 0;
}

.decor-flowers,
.decor-dots,
.decor-dots-2 {
  position: absolute;
}

.decor-flowers {
  width: 40vw;
  height: 40vw;
  left: -10vw;
  top: 2vw;
  background-image: url(/weboldal-bg-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(30deg);
}

.decor-dots {
  width: 34vw;
  height: 34vw;
  right: -10vw;
  top: 10vw;
  background-image: url(/weboldal-bg-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
}

.decor-dots-2 {
  z-index: -1;
  width: 50vw;
  height: 50vw;
  left: -20vw;
  top: 60vw;
  background-image: url(/weboldal-bg-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(60deg);
}

#eskuvoi-kep {
  width: 50%;
  position: absolute;
  margin-top: 300px;
}

#date-and-venue {
  z-index: 11;
  margin: 6em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#top-wrapper {
  min-height: 700px;
  max-width: 1280px;
  z-index: 10;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
}

#main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#counter {
  position: relative;
  background-color: var(--main-color);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#counter .mar-csak {
  font-family: "Dancing Script";
  font-size: 2em;
  transform: rotate(-10deg);
  position: absolute;
  color: var(--background-color);
  top: 60px;
  left: 100px;
}

#countdown {
  margin: 6vw 0;
  align-items: center;
  color: var(--background-color);
  font-size: 4vw;
}

#rsvp {
  z-index: 11;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  align-items: center;
}

ul {
  list-style: none;
}

footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  background-color: var(--sand);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

footer a {
  display: block;
}

footer h2 {
  margin: 1em 0;
}

.container {
  max-width: 1280px;
}
