:root{
  --main-color: #665D3C;
  --pastel-green: #768F73;
  --pastel-green-light: #BCC9BB;
  --background-color: #F7F7F2;
  --sand: #CEB484;
  --highlight: #72082D;
  
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--main-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}
a:hover{
  color: var(--highlight);
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, p {
  text-align: center;
}

h1{
  font-size: 5vw;
  line-height: 1.1;
  font-family: "Dancing Script";
  margin-bottom: .2em;
}

h2 {
  margin: 1em 0 2em;
}

p.sub-header{
  font-size: 2vw;
}

p.text {
  text-align: center;
  margin: 2em 0;
}

strong.special {
  display: block;
  padding: .6em 0;
  font-size: 1.8em;
  font-family: "Dancing Script";
}

img.map {
  max-width: 1200px;
  margin: 2em 0 0;
}

.decor-flowers,
.decor-dots,
.decor-dots-2 {
  position: absolute;
}

.decor-flowers {
  width: 40vw;
  height: 40vw;
  left: -10vw;
  top: 2vw;
  background-image: url(/weboldal-bg-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(30deg);
}

.decor-dots {
  width: 34vw;
  height: 34vw;
  right: -10vw;
  top: 21vw;
  background-image: url(/weboldal-bg-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
}

.decor-dots-2 {
  z-index: -1;
  width: 50vw;
  height: 50vw;
  left: -28vw;
  top: -25vw;
  background-image: url(/weboldal-bg-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(60deg);
}

#eskuvoi-kep {
  
  width: 50%;
  position: absolute;
  margin-top: 300px;
}

#date-and-venue {
  z-index: 11;
  margin: 6em 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#top-wrapper {
  max-width: 1280px;
  z-index: 10;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
<<<<<<< Updated upstream
=======
  text-shadow: 1px 1px 8px black;
  position: absolute;
  bottom: 16px;
>>>>>>> Stashed changes
}

#main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
<<<<<<< Updated upstream
=======
  background-image: url(/bg-3-corrected.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  background-position: bottom;
  color: var(--background-color);
  position: relative;
>>>>>>> Stashed changes
}

#main-content #top-image {
  content: '';
  display: block;
  background-image: url(/ESKUVOI-BEZS-smolr.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 40vw;
  width: 60vw;
  background-color: var(--background-color);
  background-position: center;
}

#counter {
  position: relative;
  background-color: var(--main-color);
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}

#counter .mar-csak {
  font-family: "Dancing Script";
  font-size: 2em;
  transform: rotate(-10deg);
  color: var(--background-color);
  text-shadow: 2px 2px var(--main-color);
  position:relative;
  top: 0;
  left: 40px;
}

#counter .textGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, .5fr);
  max-width: 1080px;
}

#counter .textGrid .item {
  font-size: 3vw;
}
#counter .textGrid .item:nth-child(-n+5) {
  font-size: 6vw;
}

@media screen and (max-width: 600px) {
  h1{
    font-size: 32px;
  }
  p.sub-header{
    font-size: 20px;
  }
}

@media screen and (min-width: 1080px) {
  #counter .mar-csak {
    top: -60px;
    left: 30%;
  }
  #counter .textGrid .item {
    font-size: 20px;
  }
  #counter .textGrid .item:nth-child(-n+5) {
    font-size: 40px;
  }
  #countdown {
    margin: 3vw 0 !important;
  }
}

@media screen and (min-width: 1600px) {
  #counter .mar-csak {
    top: -100px;
  }
}

#countdown {
  display: flex;
  flex-direction: column;
  margin: 6vw 0;
  align-items: center;
  color: var(--background-color);
  font-size: 4vw;
}

#rsvp {
  z-index: 11;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  align-items: center;

  position: relative;
  width: 100%;
  overflow: hidden;
  height: 1450px;
}

#rsvp .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

ul {
  list-style: none;
}

footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  background-color: var(--sand);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

footer a {
  display: block;
}

footer h2 {
  margin: 1em 0;
}

.container {
  max-width: 1280px;
}

#images {
  height: 440px;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

#images .image {
  position: relative;
  top: 26px;
  margin: 20px;
  height: 360px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

#images .image:nth-child(1) {
  background-image: url(/dekor-1.jpg);
}
#images .image:nth-child(2) {
  background-image: url(/dekor-2.jpg);
}
#images .image:nth-child(3) {
  background-image: url(/bg-2.jpg);
}

#bottom-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#bottom-section .bg-stripe {
  width: 690px;
  height: 1880px;
  background: var(--highlight);
  position: absolute;
}

#venue-and-date h2 {
  color: var(--highlight);
  margin-bottom: .61em;
}
#venue-and-date .sub-header {
  color:black;
  margin-top: .61em;
}
